---
// 1. The frontmatter prop gives access to frontmatter and other data
const { title, description, robots } = Astro.props;

import Favicons from "./_favicons.astro";
---
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description}>
{robots && <meta name="robots" content={robots}>}
<Favicons />